body{
  background:#523aff;
}
.wrapper{
  padding-top:30px;
  font-family: 'Raleway', sans-serif;
}

.generic{
  margin-bottom: 20px;
}
.no-border{
  border:0;
}

.capitalize:first-letter {
text-transform: uppercase;
}

.btn.btn-primary-tics{
background:#1f6bff;
color:#e8e8e9;
}

.card {
overflow: hidden;
position: relative;
border: 1px solid #CCC;
border-radius: 8px;
text-align: center;
padding: 0;
background-color: #e8e8e9;
color: #35383c;
min-height: 300px;
}

.card .avatar {
position: relative;
margin-top: 15px;
z-index: 100;
}

.card .card-footer{
min-height: 50px;
}

.card .name{
color:#35383c;
}

.card .avatar img {
width: 100px;
height: 100px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
border: 3px solid rgba(0,0,30,0.8);
}

.card .header-bg {  
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 70px;
background-color: aliceblue;
border-bottom: 1px #FFF solid; 
}